################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pgp/bin/Debug/netcoreapp2.1
/Pgp/obj
/.vs
